@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
}

ul, ol {
  padding-left: 0;
  margin-left: 0;
}
body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: #E8F0F3;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bowlby One';
}
/* for hiding scrollbar */
::-webkit-scrollbar { 
  display: none
}


@media (min-width: 768px) {
  .mt-3pct-md {
    margin-top: 2%;
  }
  .p-2pct-md {
    padding: 2%;
  }
  .mt-2pct-md {
    margin-top: 2%;
  }
  .mb-10pct-md {
    margin-bottom: 8%;
  }
  .mb-3pct {
    margin-bottom: 3%;
  }

}